# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.exe
*.zip
*.bak
*.txt
"gitops\apps\argocdpasswordfile.txt"
terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/4.37.0/windows_amd64/terraform-provider-azurerm_v4.37.0_x5.exe